@import '../../../../../resources/theme/core/mixins';

$spacing: 10px;
$circleSize: 200px;
$themeColor: #B696FF;
$backColor: #DCCFFA;
$textShadow: rgba(black, 0.35) 1px 1px 1px;

@keyframes enter-screen {
    0% {
      transform: scale(3);
      opacity: 0;
      width: 0%;
    }

    80% {
        width: 50%;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        width: 100%;
    }
  }

exam {
    
    .row {
        position: relative;
        height: 100%;
        margin: 0 auto;
        transition: all 1000ms;

        .container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            flex-wrap: nowrap;
            position: relative;
            padding: 0;
        }
    }

    .enterAnim {
        transform: scale(5);
        opacity: 0;
        animation: enter-screen 1s forwards;
        animation-delay: 0.3s;
    }

    .navbar-questions {
        top: 0;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button {
            margin: 0;
            padding: 5px;
        }
    }

    .prevQuestion,
    .nextQuestion {
        position: absolute;
        top: 40%;
        left: 0;
        right: auto;

        @include mobile {
            top: 10%;
        }

        button {
            margin: 0;
            padding: 10px;
            border-radius: 50%;
            background: #F18B52;
            color: black;

            &:hover {
                background: #e59e75;
                box-shadow: 0 0 10px #F18B52;
            }

            &:disabled {
                background: rgb(225, 225, 225);
                color: rgb(192, 191, 191);
                box-shadow: 0 0 0px rgb(192, 191, 191);
            }
        }
    }

    .nextQuestion {
        right: 0;
        left: auto;
    }

    .quiz-section {
        min-height: 50%;
        max-height: 100%;

        >.item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }

        .item.question {
            max-height: 20%;
            font-size: 2rem;
            padding: 30px 0;

            @include mobile {
                font-size: 1.5rem;
                padding: 15px 0;
            }
        }

        .item.question-section {
            max-height: 85%;
            font-size: 1.2rem;
            overflow-y: auto;

            @include mobile {
                font-size: 1rem;
            }
        }

        .question-options {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: center;
            align-content: center;
            gap: 15px;

            .option {
                width: 40%;
                background: rgba(0, 0, 0, 0.4);
                color: white;
                border-radius: 30px;
                padding: 8px 15px;
                // padding-left: 15px;
                transition: all 300ms;
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 45%;
                    padding: 5px 12px;
                }

                .index {
                    color: #676767;
                    padding: 0;
                    position: absolute;
                    left: -10px;
                    top: 30%;
                    background: #cbcbcb;
                    height: 20px;
                    width: 20px;
                    border-radius: 10px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover,
                &.selected {
                    background: rgba(255, 255, 255, 0.4);
                    background: #F18B52;
                    box-shadow: 0 0 10px #F18B52;
                    color: black;
                }

                &.correct {
                    // background: #d0f1d4;
                    // color: #4c4c4c;

                    // box-shadow: 0 0 10px #00ff1e;
                }

                &.incorrect {
                    // background: #f5cfcf;
                    // color: #4c4c4c;
                    // box-shadow: 0 0 10px #ff0000;
                }
            }

        }
    }

    .score-screen {
        padding: 0;
        background: transparent;
        margin: -30px;
        width: calc(100% + 60px);
        height: calc(100% + 60px);
    }

    .score-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: rgb(50, 168, 84);
        background: linear-gradient(180deg, rgba(50, 168, 84, 1) 0%, rgba(1, 190, 141, 1) 100%);

        .title {
            font-size: 3rem;
            text-transform: uppercase;
        }

        .exam-title {
            font-size: 1.2rem;
        }

        .score {
            margin: 30px 0;
            font-size: 4rem;
        }

        .stadistics {
            display: flex;
            gap: 10px;

            .stadistic {
                background: rgba(255, 255, 255, 0.3);
                padding: 8px 15px;
                border-radius: 20px;
                font-size: 1rem;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 30px;

            button {
                font-size: 1.5rem;
            }
        }
    }

    .progress--circle {
        position: relative;
        display: inline-block;
        margin: $spacing;
        width: $circleSize;
        height: $circleSize;
        border-radius: 50%;
        background-color: $backColor;
        opacity: 0.5;

        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            width: #{$circleSize - 10px};
            height: #{$circleSize - 10px};
            border-radius: 50%;
            background-color: $backColor;

        }

        &:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $themeColor;
        }
    }

    .progress__number {
        position: absolute;
        top: calc(30px / 2);
        left: 0;
        right: 0;
        height: #{$circleSize - 30px};
        width: #{$circleSize - 30px};
        line-height: 1;
        border-radius: 50%;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #777;
        background: white;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .progress__number_label {
            font-size: 12px;
        }
    }
}


.exam-component {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
    transition: all 300ms;

    .frame {
        width: 100%;
    }

    .section {
        padding: 0;

        .item {
            font-size: inherit;

            &.pill {
                background: white;
                padding: 5px 20px;
                border-radius: 23px;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-weight: bold;
                color: black;
            }

            &.exam-title {
                color: #250080;
                margin-bottom: 10px;
            }

            &.exam-questions {
                margin-top: 10px;
            }
        }

        &.score,
        &.score-details {
            width: 100%;
            background: #E4D7FF;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            padding: 30px;
            color: #250080;
        }

        &.score-details {
            background: white;

            .item {
                margin-bottom: 20px;

                &.actions {
                    gap: 15px;
                    display: flex;
                }
            }
        }
    }



    .quiz-body {
        box-shadow: 0 0 10px gray;
        width: 80vw;
        max-height: calc(100vh - 150px);
        overflow: auto;
        display: unset;
        padding: 30px;
        border-radius: 11px;
        background: white;

        .row {
            margin-bottom: 30px;

            &.whioutMargin {
                margin-bottom: 0;
            }
        }

        .column {
            .question-section {
                margin-bottom: 40px;
            }
        }
    }

    .label {
        &.time {
            font-weight: bold;
        }
    }

    .question {
        margin-bottom: 20px;

    }







}


/**
* $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
*/

$step: 5;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 0 through $loops {
    .progress--bar.progress--#{$i * $step}:after {
        width: $i * $step * 1%;
    }

    .progress--circle.progress--#{$i * $step}:after {
        @if $i < $half {
            $nextDeg: 90deg + ($increment * $i);
            background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextDeg, $themeColor 50%, $backColor 50%, $backColor);
        }

        @else {
            $nextDeg: -90deg + ($increment * ($i - $half));
            background-image: linear-gradient($nextDeg, $themeColor 50%, transparent 50%, transparent), linear-gradient(270deg, $themeColor 50%, $backColor 50%, $backColor);
        }
    }
}