<div class="row">
    <div class="exam-component" [ngClass]="{'score-screen': score != null }">
        <div class="frame">
            <!-- <div class="section white counter">
                <div class="item">
                    <div class="label">Tiempo Restante</div>
                    <div class="label time">{{ timerFormated }}</div>
                </div>
            </div> -->

            <div class="section white column" *ngIf="currentQuestion">
                <div class="item question">
                    <div class="question-text" [innerHTML]="currentQuestion.questions">
                    </div>
                </div>
        
                <div class="item question-section">
                    <div class="question-options">
                        <div class="option clickable {{ option.id }}" 
                            (click)="selectOption(option)"
                            *ngFor="let option of currentQuestion.options"
                            [ngClass]="{'selected': option.selected, 'correct': option.correctAnswer,  'incorrect': option.correctAnswer === false }">
                            <div class="index">{{ option.id }}</div>
                            <div [innerHTML]="option.text"></div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="section white float-footer" *ngIf="currentQuestion">
                <div class="item paginator">
                    <button (click)="prevQuestion()">Prev</button>
                    <ng-container *ngIf="currentQuestionIndex < questions.length - 1">
                        <button (click)="nextQuestion()" [disabled]="!currentQuestion.selectedAnswer">Next</button>
                    </ng-container>
                    <ng-container *ngIf="currentQuestionIndex == questions.length - 1">
                        <button (click)="nextQuestion()">Evaluar</button>
                    </ng-container>
                </div>
            </div>

            <ng-container *ngIf="score != null">
                <div class="section score">
                    <div class="item pill">Resultados</div>
                    <div class="item exam-title">{{ exam.title }}</div>
                    <div class="item">
                        <div class="progress--circle progress--{{ scoreResume.score }}">
                            <div class="progress__number">
                                <div>{{ scoreResume.score }}</div>
                                <div class="progress__number_label">Calificación</div>
                            </div>
                        </div>
                    </div>
                    <div class="item exam-questions">Preguntas correctas: {{ scoreResume.correct }}</div>
                </div>

                <div class="section score-details ">
                    <div class="item">Intentos {{ exam.attempts }}</div>
                    <div class="item actions">
                        <button class="accent" (click)="repeatExam()"> Repetir </button>
                        <button class="link" (click)="closeExam()"> Cerrar </button>
                    </div>
                </div>
            </ng-container>
            
            

        </div>
    </div>
</div>
