<div class="row score-screen" [ngClass]="{'score-screen': score != null }">
    <div class="container" >

        <ng-container *ngIf="score == null">

            <div class="navbar-questions" *ngIf="currentQuestion">
                <ng-container *ngIf="currentQuestionIndex == questions.length - 1">
                    <button (click)="nextQuestion()">Evaluar</button>
                </ng-container>
            </div>

            <div class="prevQuestion" *ngIf="score == null">
                <button (click)="prevQuestion()" [disabled]="currentQuestionIndex === 0">
                    <div class="inner"> <span class="material-icons">arrow_back</span> </div>
                </button>
            </div>

            <div class="nextQuestion" *ngIf="score == null">
                <ng-container *ngIf="currentQuestionIndex < questions.length - 1">
                    <button (click)="nextQuestion()" [disabled]="!currentQuestion.selectedAnswer">
                        <div class="inner"> <span class="material-icons">arrow_forward</span> </div>
                    </button>
                </ng-container>
            </div>

            <div class="quiz-section" *ngIf="currentQuestion">
                <div class="item question">
                    <div class="question-text" [innerHTML]="currentQuestion.questions">
                    </div>
                </div>

                <div class="item question-section">
                    <div class="question-options">
                        <div class="option clickable {{ option.id }}" (click)="selectOption(option)"
                            *ngFor="let option of currentQuestion.options" [ngClass]="{'selected': option.selected,
                                     'correct': option.correctAnswer,
                                     'incorrect': option.correctAnswer === false }">
                            <!-- <div class="index">{{ option.id }}</div> -->
                            <div [innerHTML]="option.text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>


        <ng-container *ngIf="score != null">
            <div class="score-section">
                <div class="title">Resultados</div>
                <div class="exam-title">{{ currentExam.title }}</div>
                <div class="score">
                    <div>{{ scoreResume.score }}</div>
                </div>
                <!-- <div class="item">
                    <div class="progress--circle progress--{{ scoreResume.score }}">
                        <div class="progress__number">
                            <div>{{ scoreResume.score }}</div>
                            <div class="progress__number_label">Calificación</div>
                        </div>
                    </div>
                </div> -->
                <div class="stadistics">
                    <div class="stadistic">Correctas: <b>{{ scoreResume.correct }}</b></div>
                    <div class="stadistic">Tiempo: <b>{{ scoreResume.time }}</b></div>
                    <div class="stadistic">intentos: <b>{{ currentExam.attempts }}</b></div>
                </div>

                <div class="actions">
                    <!-- <button class="accent" (click)="repeatExam()"> Repetir </button> -->
                    <button (click)="closeExam()"> Cerrar </button>
                </div>
            </div>

            
        </ng-container>
    </div>
</div>