<div class="row">
    <div class="exam-component">
        <div class="frame">

   
            <ng-container>
                <div class="section score">
                    <div class="item exam-title">Administración de archivos</div>
                    <div class="item">
                        <!-- <div class="progress--circle progress--{{ scoreResume.score }}">
                            <div class="progress__number">
                                <div>{{ scoreResume.score }}</div>
                                <div class="progress__number_label">Calificación</div>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="item exam-questions">Preguntas correctas: {{ scoreResume.correct }}</div> -->
                </div>

                <div class="section white">
                   <div class="item">
<code>{{ exportData | json }}</code>
                    </div>
                    <!-- <div class="item exam-questions">Preguntas correctas: {{ scoreResume.correct }}</div> -->
                </div>

                <div class="section white float-footer">
                    <div class="item paginator">
                        <input class="button link" type="file" id="inputArchivo" (change)="import($event)" />

                        <button class="link" (click)="export()">Exportar Proyecto</button>
                    </div>
                </div>

                <div class="section">

                </div>
            </ng-container>



        </div>
    </div>
</div>