@import "../../../../../resources/theme/core/mixins";
@import "../../../../../resources/theme/core/typography";
@import "../../../../../resources/theme/core/animations";


splash {
  .section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $josefinFont;
    overflow: hidden;
    position: relative;
    
    &.enter {
      transition: all 300ms;
      animation: enter-splash .5s forwards;
      .logo {
        .image { 
          transform: scale(1.6);
          opacity: 1;
        }
      }
    }

    &.exit {
      transition: all 300ms;
      animation: exit-splash .5s forwards;
      .logo {
        .image { 
          transform: scale(1);
          opacity: 1;
        }
        .name { 
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  .logo {
    width: auto;
    text-align: center;
    .image {
      transition: all 800ms;
      transform: scale(1.6);
      opacity: 1;
    }
    .name { 
      transition: all 800ms;
      transform: translateY(150%);
      opacity: 0;
    }
  }

  .ripple.top-right {
    top: -30%;
    left: 70%;

    @include mobile {
      top: -15%;
      left: 65%;
    }
    
    @include tablet {
      top: -35%;
      left: 75%;
      width: 500px;
      height: 500px;
    }

  }
  .ripple.bottom-left {
    top: 50%;
    left: -25%;

    @include mobile {
      top: 70%;
      left: -40%;
    }
    
    @include tablet {
      top: 40%;
      left: -20%;
      width: 500px;
      height: 500px;
    }
  }

  .ripple {
    @include desktop {
      width: 800px;
      height: 800px;
    }
  }
}
