<div class="row">
    <div class="section violet">
        <div class="item">
            <button class="nav-button" (click)="export()">
                <span class="material-icons">file_download</span> <div class="text">Exportar Plantilla</div>
            </button>
        </div>
    </div>

    <div class="section cyan">
        <div class="item">

            <div class="button-file">
                <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" (change)="import($event)">
                <label for="file-1">
                    <!-- <button class="nav-button"> -->
                        <span class="material-icons">file_upload</span> <div class="text">Importar Plantilla</div>
                    <!-- </button> -->
                </label>
            </div>
        </div>
    </div>

    <div class="section white results" *ngIf="exportData">
        <h3>Results</h3>
        <br>
<pre>
<code>{{ exportData | json }}</code>
</pre>

    </div>
</div>