<!-- <header [mode]="'quizeditable'"></header> -->
<div class="root-header aling-left">
    <div class="item clickable" (click)="gotoDashboard()">
        <h2> <span class="material-icons">arrow_back</span></h2>
    </div>
    <div class="item editable-title" *ngIf="form">
        <mat-input [title]="'form_title' | translate"
            [mesageError]="'form_title_required' | translate" [formControl]="form.get('title')">
        </mat-input>
    </div>
</div>

<div class="timer-status" *ngIf="quiz && settings">
    <ng-container *ngIf="!showIAForm">
        <div class="step-counter">
            <span>{{ 'form_total_question' | translate }}:</span> {{ currentAnswerIndex + 1 }} {{ 'form_of_range' |
            translate }} {{ quiz.questions.length }}
        </div>
        <!-- <div class="timer">
        <div class="timer-bar"></div>
    </div> -->
        <div class="timer-status-input" [ngClass]="{'buttonmode': !durationFormShow}" *ngIf="false">
            <ng-container *ngIf="durationFormShow">
                <mat-input [title]="'form_minutes' | translate"
                    [mesageError]="'form_time_required' | translate" [formControl]="form.get('time')" [type]="'number'"
                    (onChange)="onChangeDuration($event)">
                </mat-input>
            </ng-container>

            <ng-container *ngIf="!durationFormShow">
                <button (click)="editDuration()">
                    <div class="inner">
                        {{ 'form_duration' | translate }}:
                        <span class="material-icons">
                            all_inclusive
                        </span>
                    </div>
                </button>
            </ng-container>

        </div>
    </ng-container>

    <div class="timer-status-input" [ngClass]="{'buttonmode': !durationFormShow}" *ngIf="settings.permissions.ai">
        <button (click)="enableIA()">
            <div class="inner">
                <ng-container *ngIf="!showIAForm">
                    {{ 'use_ai' | translate }} <span class="material-icons">auto_awesome</span>
                </ng-container>
                <ng-container *ngIf="showIAForm">
                    {{ 'use_manual' | translate }} <span class="material-icons">history_edu</span>
                </ng-container>
            </div>
        </button>
    </div>
</div>

<div class="root-container">
    <ng-container *ngIf="!showIAForm">
        <div class="simple-section" *ngIf="formQuestion">
            <div class="_question">

                <div class="_question_text gray-backdrop drop-padding drop-top">
                    <mat-input [title]="'form_question' | translate"
                        [mesageError]="'form_question_required' | translate"
                        [formControl]="formQuestion.get('question')" [multiline]="true">
                    </mat-input>
                </div>

                <div class="_answer_collection gray-backdrop drop-padding drop-bottom">
                    <ng-container *ngFor="let option of formQuestion.get('options').controls">
                        <div class="_answer flat" [ngClass]="{'correct': option.get('selected').value }">
                            <div class="_answer_selection" (click)="selectAnswerCorrect(option)">
                                <span *ngIf="!option.get('selected').value" class="material-icons">
                                    radio_button_unchecked
                                </span>
                                <span *ngIf="option.get('selected').value" class="material-icons">
                                    verified</span>
                            </div>
                            <div class="_answer_text">
                                <mat-input class="flat-form" [title]="'form_answer' | translate"
                                    [mesageError]="'form_answer_required' | translate"
                                    [formControl]="option.get('text')" [formName]="'text'" [multiline]="true"
                                    (onChange)="onOptionChange($event)">
                                </mat-input>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <div class="_question_actions fixed" *ngIf="form">
                    <button class="link uppercase" (click)="prevQuestion()" [disabled]="!currentAnswerIndex"
                        *ngIf="currentAnswerIndex">
                        <div class="inner">
                            <span class="material-icons _accent color">
                                chevron_left
                            </span>
                            {{ 'action_prev' | translate }}
                        </div>
                    </button>
                    <button class="link uppercase" (click)="nextQuestion()" [disabled]="!validActions">
                        <div class="inner">
                            {{ 'action_next' | translate }}
                            <span class="material-icons _accent color">
                                chevron_right
                            </span>
                        </div>
                    </button>

                    <button class="primary" (click)="finishCreation()" *ngIf="quiz && quiz.questions.length > 1">
                        <div class="inner">
                            {{ 'action_finish' | translate }}
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="showIAForm">
        <div class="simple-section" *ngIf="formIAGenerated">
            <div class="_question" [ngClass]="{'loading_noclick': loadingDataAi }">
                <div class="gray-backdrop drop-padding">
                    <mat-input [title]="'form_answer_ia_topic' | translate"
                        [mesageError]="'form_answer_ia_topic_required' | translate"
                        [formControl]="formIAGenerated.get('topic')">
                    </mat-input>

                    <div class="_question_text_collection">
                        <mat-input [title]="'form_answer_num' | translate"
                            [mesageError]="'form_answer_num_required' | translate"
                            [formControl]="formIAGenerated.get('questions')">
                        </mat-input>
                        <mat-input [title]="'form_answer_options' | translate"
                            [mesageError]="'form_answer_options_required' | translate"
                            [formControl]="formIAGenerated.get('options')">
                        </mat-input>
                    </div>
                </div>

                <div class="_question_actions fixed">
                    <button class="primary" (click)="generateQuiz()" [disabled]="formIAGenerated.invalid">
                        <div class="inner">
                            {{ 'generate_questions' | translate }}
                            <span class="material-icons">auto_awesome</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

</div>