<div class="row">
    <div class="dashboard">
        <div class="frame">

            <div class="section yellow manage">
                <ng-container *ngIf="!editModeActive">
                    <div class="item">
                        <button class="nav-button" (click)="createExam()">
                            <span class="material-icons">add</span> <div class="text">Crear</div>
                        </button>
                    </div>
                    <div class="item">
                        <button class="nav-button" (click)="adminExam()">
                            <span class="material-icons">tune</span> <div class="text">Configuración</div>
                        </button>
                    </div>
                </ng-container>
                <!-- <div class="item">
                    <button class="nav-button" (click)="editMode()">
                        <ng-container *ngIf="editModeActive">
                            <span class="material-icons">cancel</span> <div >Salir de edición</div>
                        </ng-container>
                        <ng-container *ngIf="!editModeActive">
                            <span class="material-icons">edit</span> <div class="text">Editar</div>
                        </ng-container>
                    </button>
                </div> -->
            </div>

            <div class="section violet progress" *ngIf="examTemporal">
                <div class="item">
                    <div class="_title">Examen tema 1</div>
                    <div class="subtitle">Pregunta 10</div>
                </div>
                <div class="item">
                    <button class="link">Continuar</button>
                    <button class="link">Reiniciar</button>
                </div>

                <div class="background-section">
                    <img src="../../../../../assets/background-resume.svg" alt="">
                </div>
            </div>


            <div class="section white main-list">
                <div class="item">
                    <div class="_title">Lista de examenes</div>
                </div>

                <div class="collection-list" [ngClass]="{'editModeItems': editModeActive }">
                    <div class="exam" [ngClass]="{'showDetails': exam._showDetails }"
                        *ngFor="let exam of examsList; let i = index" >
                        <div class="list-view" (click)="detailsExam(exam)">
                            <div class="num">
                                <span *ngIf="(i+1) < 10">0{{ i + 1 }}</span>
                                <span *ngIf="(i+1) >= 10">{{ i + 1 }}</span>
                            </div>
                            <div class="icon {{ exam.color }}">
                                <span class="material-icons" *ngIf="!exam.attempts">history_edu</span>
                                <span class="score" *ngIf="exam.attempts">{{ exam.score }}</span>
                            </div>
                            <div class="title">
                                <div class="name">{{ exam.title }}</div>
                                <div class="quiestion-numbers">Preguntas: {{ exam.questionsLenght }}</div>
                            </div>
                            <div class="time">
                                <span *ngIf="!exam.time"><span class="material-icons">all_inclusive</span></span>
                                <span *ngIf="exam.time">{{ exam.time }} min.</span>
                            </div>
                        </div>
                        <div class="card-view {{ exam.color }}">
                            <div class="card-view-content">
                                <div class="item info" >
                                    <div class="action-delete">
                                        <button class="link" (click)="deleteExam(exam)"><span class="material-icons">delete_outline</span> Eliminar</button>
                                        <button class="link" (click)="editExam(exam)"><span class="material-icons">edit</span> Editar</button>
                                        <button class="link" (click)="duplicateExam(exam)"><span class="material-icons">content_copy</span> Duplicar</button>
                                        <button class="link close" (click)="exam._showDetails = false"><span class="material-icons">close</span> Cerrar</button>
                                    </div>
                                    <div class="_title">{{ exam.title }}</div>
                                    <div class="subtitle">Estadísticas</div>
                                    <div class="stadistics">
                                        <div class="stadistic">
                                            <span>Reactivos: </span> <b>{{ exam.questionsLenght }}</b>
                                        </div>
                                        <div class="stadistic">
                                            <span>Intentos: </span>
                                            <span *ngIf="!exam.attempts"><b>sin evaluar</b></span>
                                            <span class="score" *ngIf="exam.attempts"><b>{{ exam.attempts }}</b></span>
                                        </div>
                                        <div class="stadistic">
                                            <span>Aciertos: </span>
                                            <span *ngIf="!exam.score"><b>sin evaluar</b></span>
                                            <span class="score" *ngIf="exam.score"><b>{{ exam.score }}</b></span>
                                        </div>
                                        <div class="stadistic">
                                            <span>Tiempo Limite: </span>
                                            <span *ngIf="!exam.time"><span class="material-icons">all_inclusive</span></span>
                                            <b *ngIf="exam.time">{{ exam.time }} min.</b>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="item action">
                                    <button class="accent" (click)="initExam(exam)">Iniciar</button>
                                </div>
                            </div>
            
                            <div class="background-section">
                                <img src="../../../../../assets/background-resume.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<modal [title]="modalCtl.title" [size]="modalCtl.size" [canClose]="modalCtl.canClose"
    [closeOnClickOverlap]="modalCtl.closeOnClickOverlap" [direction]="modalCtl.direction" [(open)]="modalCtl.open"
    (afterChange)="modalCtl.afterchange($event)">
    <ng-container body>
        <div class="module profile" *ngIf="modalCtl.module == 'profile'">

            <div class="form">
                <input type="text" placeholder="Nombre" [(ngModel)]="profile.userName">
            </div>

            <div class="form avatar-collection">
                <ng-container *ngFor="let item of defaultAvatars">
                    <img [ngClass]="{'selected': item.selected}" [attr.src]="item.url" [attr.alt]="item.url"
                        (click)="selectAvatar(item)">
                </ng-container>
            </div>

            <div *ngIf="validateProfile">
                <div class="notification static {{ messages.profileValidation.type }}">
                    {{ messages.profileValidation.text }}
                </div>
            </div>

            <div class="text-direction center" *ngIf="!validateProfile">
                <button class="accent" (click)="createProfile()">Listo</button>
            </div>
        </div>
    </ng-container>
</modal>