<div class="row">
    <div class="container list" [ngClass]="{'exitExamState': _loadExamState }">
        <div class="section yellow manage">
            <ng-container *ngIf="!editModeActive">
                <div class="item">
                    <button class="nav-button" (click)="createExam()" *ngIf="settings.permissions.create">
                        <span class="material-icons">add</span>
                        <div class="text">Crear</div>
                    </button>
                </div>
                <div class="item">
                    <button class="nav-button" (click)="goToSettings()">
                        <span class="material-icons">tune</span>
                        <div class="text">Configuración</div>
                    </button>
                </div>
            </ng-container>
        </div>

        <div class="section violet progress" *ngIf="examTemporal">
            <div class="item">
                <div class="_title">Examen tema 1</div>
                <div class="subtitle">Pregunta 10</div>
            </div>
            <div class="item">
                <button class="link">Continuar</button>
                <button class="link">Reiniciar</button>
            </div>

            <div class="background-section">
                <img src="../../../../../assets/background-resume.svg" alt="">
            </div>
        </div>
<!-- 
        <div class="section transparent main-list">
            <div class="collection-list">
                <div class="exam-item">
                    <div class="card">
                        <div class="clickable-area"></div>
                        <div class="index">
                            10
                        </div>
                        <div class="square">
                            <span class="score"> <span class="material-icons">history_edu</span> </span>
                            <img class="character" src="../../../../../assets/none.svg" alt="">
                        </div>
                        <div class="details">
                            <div class="exam-title">Enfermeria 1</div>
                            <div class="exam-subtitle">
                                <span>Reactivos: 31</span>
                                <span>Tiempo: 60 min.</span>
                            </div>
                            <div class="exam-close">
                                <span class="label">Cerrar </span>
                                <span class="material-icons">close</span>
                            </div>
                            <div class="exam-properties">
                                <div class="prop">
                                    <span>Preguntas: </span> <b>100</b>
                                </div>
                                <div class="prop">
                                    <span>Intentos: </span>
                                    <span class="score"><b>1</b></span>
                                </div>
                                <div class="prop">
                                    <span>Aciertos: </span>
                                    <span class="score"><b>100%</b></span>
                                </div>
                                <div class="prop">
                                    <span>Limite: </span>
                                    <span><span class="material-icons">all_inclusive</span></span>
                                    <b>10 min.</b>
                                </div>
                            </div>


                            <div class="exam-actions">
                                <div class="button accent start"> Iniciar </div>
                                <div class="button"> <span class="material-icons">content_copy</span> <span
                                        class="label">Duplicar</span> </div>
                                <div class="button"> <span class="material-icons">edit</span> <span
                                        class="label">Editar</span> </div>
                                <div class="button"> <span class="material-icons">delete_outline</span> <span
                                        class="label">Eliminar</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="section transparent main-list">
            <div class="item">
                <div class="subtitle">Lista de examenes</div>
            </div>

            <div class="collection-list">
                <div class="exam-item" [ngClass]="{'expand': exam._showDetails }"
                    *ngFor="let exam of examsList; let i = index">
                    <div class="card">
                        <div class="clickable-area" (click)="detailsExam(exam)"></div>
                        <div class="index">
                            <span *ngIf="(i+1) < 10">0{{ i + 1 }}</span>
                            <span *ngIf="(i+1) >= 10">{{ i + 1 }}</span>
                        </div>
                        <div class="square" [attr.style]="exam.color">
                            <span class="score">
                                <span class="material-icons" *ngIf="!exam.attempts">history_edu</span>
                                <span *ngIf="exam.attempts">{{ exam.score }}</span>
                            </span>
                            <img class="character" *ngIf="!exam.score" src="../../../../../assets/none.svg" alt="">
                            <!-- <img class="character" *ngIf="exam.score && exam.score <= 60" src="../../../../../assets/bad.svg" alt="">
                            <img class="character" *ngIf="exam.score && exam.score  80" src="../../../../../assets/regular.svg" alt="">
                            <img class="character" *ngIf="exam.score && exam.score < 60" src="../../../../../assets/great.svg" alt=""> -->
                        </div>
                        <div class="details">
                            <div class="exam-title">{{ exam.title }}</div>
                            <div class="exam-subtitle">
                                <span>Preguntas: {{ exam.questionsLenght }}</span>
                                <span *ngIf="!exam.time" class="material-icons">all_inclusive</span>
                                <span *ngIf="exam.time">{{ exam.time }} min.</span>
                            </div>
                            <div class="exam-close clickable" (click)="exam._showDetails = false;">
                                <span class="label">Cerrar </span>
                                <span class="material-icons">close</span>
                            </div>
                            <div class="exam-properties">
                                <div class="prop">
                                    <span>Preguntas: </span> <b>{{ exam.questionsLenght }}</b>
                                </div>
                                <div class="prop" *ngIf="!exam.attempts">
                                    <span>Intentos: </span>
                                    <span class="score"><b>{{ exam.attempts }}</b></span>
                                </div>
                                <div class="prop" *ngIf="!exam.score">
                                    <span>Aciertos: </span>
                                    <span class="score"><b>{{ exam.score }}</b></span>
                                </div>
                                <div class="prop">
                                    <span>Tiempo: </span>
                                    <span *ngIf="!exam.time" class="material-icons">all_inclusive</span>
                                    <span *ngIf="exam.time"><b>{{ exam.time }} min.</b></span>
                                </div>
                            </div>

                            <div class="exam-actions">
                                <div class="button accent start" (click)="initExam(exam)"> Iniciar </div>
                                <div class="button" (click)="duplicateExam(exam)"
                                    *ngIf="settings.permissions.duplicate"> <span
                                        class="material-icons">content_copy</span> <span class="label">Duplicar</span>
                                </div>
                                <div class="button" (click)="editExam(exam)" *ngIf="settings.permissions.edit"> <span
                                        class="material-icons">edit</span> <span class="label">Editar</span> </div>
                                <div class="button" (click)="deleteExam(exam)" *ngIf="settings.permissions.delete">
                                    <span class="material-icons">delete_outline</span> <span
                                        class="label">Eliminar</span> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="false">
                    <div class="exam" [ngClass]="{'showDetails': exam._showDetails }"
                        *ngFor="let exam of examsList; let i = index">
                        <div class="list-view" (click)="detailsExam(exam)">
                            <div class="num">
                                <span *ngIf="(i+1) < 10">0{{ i + 1 }}</span>
                                <span *ngIf="(i+1) >= 10">{{ i + 1 }}</span>
                            </div>
                            <div class="icon" [attr.style]="exam.color">
                                <span class="material-icons" *ngIf="!exam.attempts">history_edu</span>
                                <span class="score" *ngIf="exam.attempts">{{ exam.score }}</span>
                            </div>
                            <div class="title">
                                <div class="name">{{ exam.title }}</div>
                                <div class="quiestion-numbers">
                                    <span>Preguntas: {{ exam.questionsLenght }}</span>
                                    <span *ngIf="!exam.time" class="material-icons">all_inclusive</span>
                                    <span *ngIf="exam.time">{{ exam.time }} min.</span>
                                </div>
                            </div>

                        </div>
                        <div class="card-view" [attr.style]="exam.color">
                            <div class="card-view-content">
                                <div class="item info">
                                    <div class="action-delete">
                                        <button class="link" (click)="deleteExam(exam)"
                                            *ngIf="settings.permissions.delete"><span
                                                class="material-icons">delete_outline</span> Eliminar</button>
                                        <button class="link" (click)="editExam(exam)"
                                            *ngIf="settings.permissions.edit"><span class="material-icons">edit</span>
                                            Editar</button>
                                        <button class="link" (click)="duplicateExam(exam)"
                                            *ngIf="settings.permissions.duplicate"><span
                                                class="material-icons">content_copy</span> Duplicar</button>
                                        <button class="link close" (click)="exam._showDetails = false"><span
                                                class="material-icons">close</span> Cerrar</button>
                                    </div>
                                    <div class="_title">{{ exam.title }}</div>
                                    <div class="subtitle">Estadísticas</div>
                                    <div class="stadistics">
                                        <div class="stadistic">
                                            <span>Preguntas: </span> <b>{{ exam.questionsLenght }}</b>
                                        </div>
                                        <div class="stadistic">
                                            <span>Intentos: </span>
                                            <span *ngIf="!exam.attempts"><b>Sin evaluar</b></span>
                                            <span class="score" *ngIf="exam.attempts"><b>{{ exam.attempts }}</b></span>
                                        </div>
                                        <div class="stadistic">
                                            <span>Aciertos: </span>
                                            <span *ngIf="!exam.score"><b>Sin evaluar</b></span>
                                            <span class="score" *ngIf="exam.score"><b>{{ exam.score }}</b></span>
                                        </div>
                                        <div class="stadistic">
                                            <span>Limite: </span>
                                            <span *ngIf="!exam.time"><span
                                                    class="material-icons">all_inclusive</span></span>
                                            <b *ngIf="exam.time">{{ exam.time }} min.</b>
                                        </div>

                                    </div>
                                </div>
                                <div class="item action">
                                    <button class="accent" (click)="initExam(exam)">Iniciar</button>
                                </div>
                            </div>

                            <div class="background-section">
                                <img src="../../../../../assets/none.svg" alt="">
                                <img src="../../../../../assets/bakground.svg" alt="">
                            </div>
                        </div>

                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<modal [title]="modalCtl.title" [size]="modalCtl.size" [canClose]="modalCtl.canClose"
    [closeOnClickOverlap]="modalCtl.closeOnClickOverlap" [direction]="modalCtl.direction" [(open)]="modalCtl.open"
    (afterChange)="modalCtl.afterchange($event)">
    <ng-container body>
        <div class="module profile" *ngIf="modalCtl.module == 'profile'">

            <div class="form">
                <input type="text" placeholder="Nombre" [(ngModel)]="profile.userName">
            </div>

            <div class="form avatar-collection">
                <ng-container *ngFor="let item of defaultAvatars">
                    <img [ngClass]="{'selected': item.selected}" [attr.src]="item.url" [attr.alt]="item.url"
                        (click)="selectAvatar(item)">
                </ng-container>
            </div>

            <div *ngIf="validateProfile">
                <div class="notification static {{ messages.profileValidation.type }}">
                    {{ messages.profileValidation.text }}
                </div>
            </div>

            <div class="text-direction center" *ngIf="!validateProfile">
                <button class="accent" (click)="createProfile()">Listo</button>
            </div>
        </div>
    </ng-container>
</modal>