---
import Main from "../layouts/Main.astro";
import NotFound from "../components/404.astro";
import NewUser from "../components/newUser.astro";
---

<Main title="exam-tests">
  <NewUser />

</Main>

<script>
  import { APP } from "../data/main";
  const app = new APP();
  window.onload = (e) => {
    app.init();
  };
</script>
