---
import Main from "../layouts/Main.astro";
---

<Main title="exam-tests">
  <h1>LOGO</h1>
</Main>

<script>
  import { APP } from "../data/main";
  const app = new APP();
  window.onload = (e) => {
    app.init();
  };
</script>
