<div class="quiz-component">
    <div class="container quiz-body">
        <div class="row">
            <div class="item">
                <div class="label">Tiempo Restante</div>
                <div class="label time">{{ timerFormated }}</div>
            </div>
    
            <div class="item submit">
                <button>Enviar</button>
            </div>
        </div>
        <div class="row column" *ngIf="currentQuestion">
            <!-- <div class="item progressbar">
                9 / {{ questions.length }}
            </div> -->
            <div class="item">
                <div class="question-number">Pregunta {{ currentQuestionIndex + 1}} de {{ questions.length }}</div>
            </div>
            <div class="item question">
                <div class="question-text" [innerHTML]="currentQuestion.questions">
                </div>
            </div>
    
            <div class="item question-section">
                <div class="question-options">
                    <div class="option clickable {{ option.id }}" 
                        (click)="selectOption(option)"
                        *ngFor="let option of currentQuestion.options"
                        [ngClass]="{'selected': option.selected, 'correct': option.correctAnswer,  'incorrect': option.correctAnswer === false }">
                        <div class="index">{{ option.id }}</div>
                        <div [innerHTML]="option.text"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row whioutMargin" *ngIf="currentQuestion">
            <div class="item paginator">
                <button (click)="prevQuestion()">Prev</button>
                <button (click)="nextQuestion()" [disabled]="!currentQuestion.selectedAnswer">Next</button>
            </div>
        </div>
    </div>
</div>
