---
let { title, subtitle, description, list } = Astro.props;
---

<div class="app-page bordered">
  <h1>HOLA,  <span id="usernameTitle"></span></h1>
</div>


<script>
  import { ProfileApp } from "../data/profile";
  const app = new ProfileApp();
  app.getProfileDetails();
</script>