<div class="main {{ header.mainClass }}" [attr.style]="header.mainStyle">
    <div class="main-header {{ header.headerClass }} {{ header.type }}">

        <ng-container *ngIf="header && header.type === 'profile'">
            <div class="main-header-container">
                <div class="item title" [innerHTML]="header.title"></div>

                <div class="item avatar" *ngIf="header.avatar">
                    <img [attr.src]="header.avatar" [attr.alt]="header.title">
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="header && header.type === 'progress'">
            <div class="main-header-container">
                <div class="item return" (click)="returnHome()">
                    <span class="material-icons">arrow_back</span>
                </div>

                <div class="item header-subtitle" [innerHTML]="header.title" *ngIf="!header.canEditTitle"></div>
                <div class="item header-subtitle" *ngIf="header.canEditTitle">
                    <input type="text" [(ngModel)]="header.title" (change)="editExamTitle(header.title)">
                </div>

                <div class="item return">
                </div>
            </div>
            <div class="main-header-container progress" *ngIf="header.exam?.questionsLenght">
                <div class="bar-counter">
                    <div class="bar-counter-current" [attr.style]="'width:'+header.exam?.progress+';'"></div>
                </div>
                <div class="pill-counter">
                    {{ header.exam?.current }} / {{ header.exam?.questionsLenght }}
                </div>
            </div>
        </ng-container>

    </div>
    <div class="main-body">
        <dashboard *ngIf="screen === _screen.dashboard"></dashboard>
        <exam *ngIf="screen === _screen.exam" [data]="data"></exam>
        <create *ngIf="screen === _screen.create" [data]="data" [examTitle]="examTitle"></create>
        <admin *ngIf="screen === _screen.admin"></admin>
        <settings *ngIf="screen === _screen.settings"></settings>
    </div>
</div>

<div class="notification {{ _mainServices._notification.type }}"
    [ngClass]="{'show': _mainServices._notification.show }">
    <div class="item" *ngIf="_mainServices._notification.icon"><span class="material-icons">{{
            _mainServices._notification.icon }}</span></div>
    <div class="item" [innerHTML]="_mainServices._notification.text"></div>
    <div class="item actions">
        <button (click)="_mainServices.closeNotification()"> <span class="material-icons">close</span> </button>
    </div>
</div>