create {
    .row.mask {
        padding-bottom: 60px;
        padding-top: 20px;
    }

    .section {
        margin: 0;
    }

    .question {
        margin-bottom: 20px;
        display: inline-grid;
        vertical-align: top;
        align-items: center;
        position: relative;
        width: 100%;
        align-items: stretch;
    }

    .question-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        .actions {
            margin-left: auto;
        }
    }

    .question-option {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
        padding: 10px 5px;

        &.correct {
            background: rgb(88, 168, 88);
            margin: 0 -20px;
            padding: 10px 25px;
        }

        .actions {
            background: rgba(255, 255, 255, 0.4);
            width: 40px;
            min-width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
        }

        textbox {
            width: 100%;
        }
    }

    .colorsCollection {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .color {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid gray;
        background: rgb(208, 208, 208);
        font-size: 0.7rem;
        font-weight: bold;
        margin-bottom: 20px;

        .material-icons {
            font-size: 2rem;
            position: absolute;
            left: 0;
            right: 0;
            margin: 12px auto;
            text-align: center;
        }

        &.new {
            position: relative;

            .label {
                font-size: 0.8rem;
            }
        }

        .label {
            background: white;
            color: black;
            margin-top: 60px;
            border: 2px solid gray;
            padding: 3px;
            text-align: center;
            text-transform: uppercase;
        }
    }


    .box {
        padding: 0;

        input,
        textarea {
            background: transparent;
            border-color: transparent;
            padding: 0;
            border-radius: 0;
            font-size: 1.4rem;

            &:hover {
                padding: 10px 15px;
                border-radius: 10px;
                background: inherit;
                border-color: inherit;
                font-size: 1rem;
            }
        }

        .textbox {
            font-size: 1.4rem;
            &:hover {
                font-size: 1rem;
                &::after {
                padding: 10px 15px;
                }
            }
        }

 

        .question-option {

            input,
            textarea {
                font-size: 1rem;

                &:hover {
                    font-size: 1rem;
                }
            }
        }
    }

    .float-footer {
        width: calc(100% - 20px);
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 5px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;

        .paginator {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
