<div class="row mask">
    <div class="row-internal {{ screen }}">
        <div class="container list">
            <ng-container *ngIf="currentQuestion">

                <div class="section transparent column box">
                    <div class="item question">
                        <textbox [(ngModel)]="currentQuestion.questions" [placeholder]="'Escribe tu pregunta ...'"></textbox>
                    </div>
                </div>

                <div class="section transparent column box">
                    <div class="item question-item">
                        <div class="subtitle">Respuestas</div>
                        <div class="actions">
                            <button class="link" (click)="newOption()">
                                <span class="material-icons">add_circle_outline</span> agregar
                            </button>
                        </div>
                    </div>

                    <div class="item question-option" *ngFor="let option of currentQuestion.options"
                        [ngClass]="{'correct': currentQuestion.answer && currentQuestion.answer == option.id }">
                        <div class="actions" (click)="deleteOption(option)">
                            <span class="material-icons">remove_circle_outline</span>
                        </div>

                        <textbox [(ngModel)]="option.text" [placeholder]="'Respuesta'+ option.id +' ...'"></textbox>

                        <div class="actions" (click)="setCorrectOption(option)">
                            <span class="material-icons" *ngIf="!currentQuestion.answer">check_circle</span>
                            <ng-container *ngIf="currentQuestion.answer">
                                <span class="material-icons" *ngIf="currentQuestion.answer == option.id">check</span>
                                <span class="material-icons" *ngIf="currentQuestion.answer != option.id">close</span>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="container list">

            <div class="screen-header" (click)="gotoQuestions()">
                <div class="return-main"><span class="material-icons">chevron_left</span></div>
                <div class="subtitle">Propiedades</div>
                <div class="return-main"></div>
            </div>

            <div class="section white options">
                <div class="item">
                    <div class="subtitle">Fondos</div>
                </div>
                <div class="item colorsCollection">
                    <div class="color" [attr.style]="'background:' + item +';'" (click)="selectColor(item)"
                        *ngFor="let item of settings.colors">
                        <div class="label">{{ item }}</div>
                    </div>
                </div>
            </div>

            <div class="section white options">
                <div class="item">
                    <div class="subtitle">Tiempo Limite</div>
                </div>
                <div class="item colorsCollection">
                    <textbox [(ngModel)]="currentExam.time" [placeholder]="'tiempo limite'"></textbox>
                </div>
            </div>
        </div>
    </div>

    <div class="float-footer">
        <div class="item paginator">
            <ng-container *ngIf="screen === 'firstScreen'">
                <button class="link" (click)="prevQuestion()" *ngIf="currentQuestionIndex != 0">
                    <span class="material-icons"> chevron_left</span> Atras </button>
                <button class="link" [disabled]="!validate()" (click)="nextQuestion()">
                    Siguiente <span class="material-icons"> navigate_next</span> </button>
            </ng-container>

            <button class="accent" (click)="saveExam()">Salvar</button>

            <button class="link" *ngIf="screen === 'firstScreen'" (click)="gotoConfig()">
                <span class="material-icons">settings</span>
            </button>
            <button class="link" *ngIf="screen === 'secondScreen'" (click)="gotoQuestions()">
                <span class="material-icons">chevron_left</span> Regresar
            </button>

        </div>
    </div>
</div>