@import "../core/globals.scss";


.app-page {
    width: 100vw;
    min-height: 100vh;
    font-family: $openSansFont;

    &.bordered {
        border: 2px solid black;
    }
}

img {
    width: inherit;
    height: auto;
}

p {
    margin-bottom: 20px;
}