---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="apple-touch-icon" sizes="180x180" href="/exam-tests/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/exam-tests/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/exam-tests/favicon-16x16.png">
		<link rel="manifest" href="/exam-tests/site.webmanifest">

		<link rel="stylesheet" href="/exam-tests/semanticUI/semantic.css">
		<script is:inline src="/exam-tests/semanticUI/jquery-3.1.1.min.js"></script>
		<script is:inline src="/exam-tests/semanticUI/semantic.js"></script>

		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss">
@import '../scss/main.scss';
</style>
