@import './core/colors';
@import './core/typography';
@import './core/mixins';

button, .button {
    background: #273d30;
    color: white;
    border: 1px solid transparent;
    transition: background 300ms;
    cursor: pointer;
    padding: 10px 25px;
    font-family: $josefinFont;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;

    &:hover, &.hover {
        background: #57896c;
        border-color: #57896c;
    }

    &:disabled, &.disabled {
        background: #b0b0b0;
        border-color: #b0b0b0;
        color: gray;
    }
}