@import './core/animations';

.ripple {
  background: rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  animation-delay: 1000ms;
  animation: _ripple 1s forwards;

  &:before,
  &:after {
    content: '';
    width: calc(100% - 40%);
    height: calc(100% - 40%);
    border-radius: 50%;
    background: inherit;
    position: absolute;
    margin: 20%;
    animation-delay: 300ms;
    animation: _ripple 1s forwards;
  }

  &:after {
    width: calc(100% - 70%);
    height: calc(100% - 70%);
    margin: 35%;
    animation-delay: 200ms;
  }

  &.infinite {
    animation: _rippleInfinite 2s infinite;

    &:before,
    &:after {
      animation: _rippleInfinite 2s infinite;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  .innerAvatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    background: gray;
    display: inline-block;
  }

  .detailsAvatar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .avatarName {
      font-size: 1rem;
    }

    .avatarRole {
      font-size: 0.7rem;
    }
  }
}

.pill {
  padding: 5px 15px 2px;
  background: gray;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  line-height: 1;
}