@import './core/colors';
@import './core/typography';
@import './core/mixins';

form, .form {
    margin-bottom: 20px;
}

textarea,
input {
    padding: 10px;
    width: 100%;
    transition: all 300ms;
    padding: 18px 25px;
    font-family: $josefinFont;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1;
    border-radius: 30px;
    background: rgba(241, 235, 255, 0.5);
    border: 2px solid rgba(241, 235, 255, 0.5);
    color: #7D55CF;
    outline: none;

    &:hover, &.hover {
        background: #F1EBFF;
        color: #7D55CF;
        border: 2px solid #a483e4;
    }

    &:disabled, &.disabled {
        background: rgba(177, 177, 177, 0.2);
        border-color: transparent;
        color: rgba(44, 44, 44, 0.2);
    }

    @include mobile-tablet {
        font-size: 1.3rem;
    }
}
