// 
@import './core/colors';
@import './core/typography';
@import './core/mixins';

html,
body {
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-family: $josefinFont;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2;
    // letter-spacing: 0.05em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 100vw;
    min-height: 100vh;

    * * {
        box-sizing: border-box;
    }
}

.absolute {
    position: absolute;

    &.top-left {
        top: 0;
        left: 0;
    }

    &.top-right {
        top: 0;
        right: 0;
    }

    &.top-center {
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &.bottom-left {
        bottom: 0;
        left: 0;
    }

    &.bottom-right {
        bottom: 0;
        right: 0;
    }

    &.bottom-center {
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.text-direction {
    &.center {
        text-align: center;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &.column {
        flex-direction: column;
    }

    &.mask {
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100vw;
        min-height: 100vh;
        overflow: hidden;
    }

    .row-internal {
        min-width: 200vw;
        display: flex;
        flex-direction: row;
        min-height: inherit;
        transition: transform 700ms ease;

        .container {
            width: 100vw;
        }

        &.firstScreen {
            transform: translateX(0);
            .container:nth-child(2) {
                height: 0;
            }
        }
        &.secondScreen {
            transform: translateX(-100vw);
            .container:nth-child(1) {
                height: 0;
            }
        }
    }
}

.container {
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    width: inherit;
    transition: all 600ms;

    @include mobile-tablet {
        padding: 20px;
        padding-top: 0;
    }

    &.list {
        flex-direction: column;
    }
}

.section {
    padding: 30px;
    background: lightgray;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 2px solid #dddddd;  

    @include mobile-tablet {
        padding: 25px;
    }

    >.item {
        font-size: inherit;
        color: inherit;

        >.title {
            color: gray;
            font-size: 120%;
            font-family: $josefinFont;
        }
        >.subtitle {
            text-transform: uppercase;
            font-size: 100%;
            font-family: $josefinFont;
        }
    }

    &.transparent {
        background: transparent;
        border-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    &.white {
        color: #646464;
        background: white;

        ._title {
            color: #000;
        }
    }

    &.cyan {
        color: #035a80;
        background: #a4d8ee;

        ._title {
            color: #1fa2da;
        }
    }

    &.violet {
        color: #4C269A;
        background: #E4D7FF;

        ._title {
            color: #956BEA;
        }
    }

    &.yellow {
        color: #733F22;
        background: #FFDFAF;

        ._title {
            color: #C8967A;
        }
    }

    &.green {
        color: #62e0a7;
        background: #A9E7CB;

        ._title {
            color: #1f9c64;
        }
    }
}

.screen-header {
    width: 100%;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    text-transform: uppercase;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    .return-main {
        width: 40px;

        .material-icons {
            font-size: 2rem;
        }
    }

    .subtitle {
        text-transform: capitalize;
    }
}

.clickable {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.hide {
    display: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

// .dashboard,
// .exam-component {
//     background: white;
//     width: 100%;
//     height: auto;
//     min-height: 50vh;
//     padding: 20px;
//     border-radius: 10px;
//     padding-top: 0;
//     transition: all 500ms ease;
// }

// .dashboard {
//     padding: 0;
// }

.debugger * * {
    outline: 1px dotted rgba(238, 130, 238, 0.5);
}