// 
@import './core/colors';
@import './core/typography';
@import './core/mixins';

html,
body {
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-family: $openSansFont;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    // letter-spacing: 0.05em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    * * {
        box-sizing: border-box;
    }
}



.row {
    display: flex;
    flex-direction: row;
    width: 100%;

    &.column {
        flex-direction: column;
    }

    .item {}

    .label {}
}

.container {
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    width: inherit;
}

.clickable {
    cursor: pointer;
}

.dashboard,
.exam-component {
    background: white;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    padding-top: 0;
}

.section {
    padding: 20px;
    background: lightgray;
    border-radius: 10px;
    margin-bottom: 20px;

    .item {
        font-size: 22px;
        color: inherit;

        ._title {
            color: gray;
            font-size: 16px;
        }

    }

    &.transparent {
        background: transparent;
    }

    &.white {
        color: #646464;
        background: white;

        ._title {
            color: #000;
        }
    }

    &.cyan {
        color: #035a80;
        background: #a4d8ee;

        ._title {
            color: #1fa2da;
        }
    }

    &.violet {
        color: #4C269A;
        background: #E4D7FF;

        ._title {
            color: #956BEA;
        }
    }

    &.yellow {
        color: #733F22;
        background: #FFDFAF;

        ._title {
            color: #C8967A;
        }
    }

    &.green {
        color: #62e0a7;
        background: #A9E7CB;

        ._title {
            color: #1f9c64;
        }
    }
}

.main-component {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    max-width: 100vw;
    max-height: 100vh;
    background: white;
    padding: 10px;
    padding-top: 80px;
    position: relative;
    transition: all 300ms;

    .main-header,
    .main-subheader {
        height: 75px;
        position: fixed;
        left: 0;
        top: 0;
        align-items: flex-start;
        padding-top: 10px;

        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(4px);
        z-index: 100;

        .container {
            align-items: center;
            padding: 5px 30px;
        }

        .item.title {
            font-size: 30px;
        }

        .item.avatar {
            margin-left: auto;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .main-subheader {
        height: 95px;
        justify-content: flex-start;
        flex-direction: column;

        .container {
            flex-direction: column;
        }

        .item {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &.counter {
                padding: 15px 10px;
            }
        }

        .title {
            font-size: 30px;
        }
    }

    .return {
        margin-right: 20px;
    }

    .bar-counter {
        background: #E4E5E5;
        width: 100%;
        height: 8px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        .bar-counter-current {
            position: absolute;
            width: 0%;
            height: 10px;
            background: #F18B52;
            border-radius: 10px;
            top: 0;
            left: 0;
        }
    }

    .pill-counter {
        background: #cbcbcb;
        color: #5f5d5c;
        border-radius: 10px;
        width: 70px;
        text-align: center;
        padding: 2px;
        font-size: 11px;
        font-weight: bold;
        margin-left: 10px;
    }

    &.subheader-active {
        padding-top: 100px;
        background: #F1F8FB;
    }

    &.subheader-completed {
        padding-top: 20px;
        background: white;

        .main-subheader {
            display: none;
        }
    }
}



.debugger * * {
    outline: 1px dotted rgba(238, 130, 238, 0.2);
}