@import '../../../../resources/theme/core/mixins';
@import '../../../../resources/theme/core/typography';


.mat-form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .mat-label {
        position: relative;
        // font-size: rem(16px);
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        align-items: flex-start;

        background: rgba(33, 33, 33, 0.7);
        border-radius: 10px;
        color: white;
        margin: 15px 0;
        min-height: 60px;
        font-size: rem(18px);
    // border: 1px solid rgba(150, 150, 150, 0.5);  

        .mat-label-text {
            transform: translate(10px, 5px);
            font-size: 70%;
            user-select: none;
            width: auto;
            pointer-events: none;
            transition: all 300ms;
            position: absolute;
            opacity: 0.5;
        }

        .mat-error {
            position: absolute;
            font-size: 70%;
            opacity: 1;
            bottom: -15px;
            padding: 0 10px;
            transition: all 300ms;

            &.error {
                color: #f08d9c;
            }
        }

        textarea, input {
            margin-top: 10px;
            padding: 10px;
            font-size: 100%;
            min-height: 50px;
            height: 50px;
        }

        &.empty {
            .mat-label-text {
                transform: translate(12px, 20px);
                font-size: 100%;
                color: inherit;
                opacity: 1;
            }

            input::placeholder {
                opacity: 0;
            }

            textarea::placeholder {
                opacity: 0;
            }
        }

        &.disabled {
            background: transparent;
        }
    }
}

.flat-form___ {

    // font-size: 32px;
    // font-size: rem(16px);
    font-size: inherit;

    .mat-form-field {
        font-size: inherit;
    }

    .mat-form-mat-label { font-size: inherit; }

    .mat-label-text {
        opacity: 1;
        position: absolute;
        transform: translate(5px, -10px) !important;
        // font-size: rem(12px) !important;
        font-size: 70% !important;
    }

    .mat-error {
        position: absolute;
        bottom: -20px;
    }

    textarea,
    input {
        background: transparent;
        border: none;
        // font-size: inherit;
        // border: 1px dotted #adadad;
    }
    textarea {
        // font-size: rem(14px) !important;
        font-size: inherit !important;
        // border: 1px dotted #adadad;
    }

    .empty {
        // font-size: inherit; 
        .mat-label-text {
            // font-size: rem(16px) !important;
            font-size: 100% !important;
            transform: translate(12px, 50%) !important;
            opacity: 1;
        }
    
    }
}