@import '../../../../resources/theme/core/mixins';
@import '../../../../resources/theme/core/typography';


.mat-form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .mat-label {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        align-items: flex-start;
        background: var(--formBackground);
        border-radius: 10px;
        color: var(--appColor);
        margin: 15px 0;
        min-height: 60px;
        font-size: rem(18px);

        .mat-label-text {
            transform: translate(10px, 5px);
            font-size: 70%;
            user-select: none;
            width: auto;
            pointer-events: none;
            transition: all 300ms;
            position: absolute;
            opacity: 0.5;
        }

        .mat-error {
            position: absolute;
            font-size: 70%;
            opacity: 1;
            bottom: -15px;
            padding: 0 10px;
            transition: all 300ms;

            &.error {
                color: var(--formErrorColor);
            }
        }

        .textarea-warp,
        input,
        textarea {
            margin-top: 10px;
            padding: 10px;
            font-size: 100%;
            min-height: 50px;
            height: 50px;
        }

        .textarea-warp {
            width: 100%;
            padding: 0;
            display: grid;
            height: auto;
            line-height: 1;

            &:after {
                content: attr(data-replicated-value) " ";
                white-space: pre-wrap;
                visibility: hidden;
                grid-area: 1 / 1 / 2 / 2;
                padding: 10px;
                line-height: 1;
            }

            textarea {
                resize: none;
                overflow: hidden;
                grid-area: 1 / 1 / 2 / 2;
            }
        }

        textarea {
            width: 100%;
            height: auto;
        }

        &.empty {
            .mat-label-text {
                transform: translate(12px, 20px);
                font-size: 100%;
                color: inherit;
                opacity: 1;
            }

            textarea,
            input {
                height: 50px;

                &::placeholder {
                    opacity: 0;
                }
            }
        }

        &.disabled {
            background: transparent;
        }
    }
}

.flat-form {

    .mat-label {
        background: transparent;
        margin: 0;
    }

    textarea,
    input {
        margin: 0 !important;
    }

    .textarea-warp {
        margin: 0 !important;
    }

    textarea {
        min-height: 60px !important;
        margin: 0;
    }
}